* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-size: 22px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
}

.container h1 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #777;
    animation: linear 1s;
    font-size: 2rem;
    filter: drop-shadow(2px 2px 5px #fff);
    color: #fff;
    animation: typing 5s steps(800) infinite;
    letter-spacing: 6px;
    margin-bottom: 30px;
    font-weight: 300;
}


.container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 70vh;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
}

.container .box input {
    margin-bottom: 30px;
    outline: none;
    border: none;
    background-color: transparent;
    border: 1px solid #777;
    letter-spacing: 4px;
    border-radius: 2px;
    color: #fff;
}

.box select {
    width: 30%;
    border-radius: 2px;
    background: transparent;
    color: #fff;
    letter-spacing: 4px;
}

option {
    background: black;
    text-align: center;
}

.container .box span {
    color: #fff;
}

.container .box input::placeholder {
    background-color: transparent;
    text-align: center;
    font-weight: 500;
    color: #777;
}

button {
    margin-top: 30px;
    border-radius: 3px;
    background: transparent;
    border: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 10px;
    cursor: pointer;
}
button:hover{
    background-color: #777;
    border: 1px solid #777;
}
p {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    color: green;
    font-size: 26px;
    text-align: center;
}

label {
    width: 50%;
    height: 20px;
    color: red;
    font-size: 26px;
    text-align: center;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .container .box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 70vh;
        background: rgba(0, 0, 0, 0.9);
        border-radius: 15px;
    }

    .container .box input {
        margin-bottom: 30px;
        letter-spacing: 1px;
        border-radius: 2px;
        color: #fff;
        width: 80%;
    }

    .box select {
        width: 80%;
        color: #fff;
        letter-spacing: 2px;
    }

    option {
        background: black;
        text-align: center;
        width: 70%;
    }
    label {
        width: 100%;
        color: red;
        font-size: 20px;
        text-align: center;
    }
    .container h1 {
        font-size: 25px;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }
}


